.has-fade {
    visibility: hidden;
}
@keyframes fadein {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    50% {
        visibility: visible;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
.fade-in {
    animation: fadein 400ms ease-in-out forwards;
}
@keyframes fadeout {
    0% {
        visibility: visible;
        opacity: 1;
    }
    50% {    
        visibility: visible;
        opacity: 0;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
.fade-out {
    animation: fadeout 200ms ease-in-out forwards;
}